.layout-background {
    min-height: 100vh;
    background-image: url("/img/background.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #121212;
}
