@page "/events"
@using MudBlazor

<PageTitle>Event List</PageTitle>

<h1>Events</h1>

<MudCard>
    @* <MudCardMedia Image="images/door.jpg" Height="200" /> *@
    <MudCardContent>
        <MudText Typo="Typo.h5">The Chum Line</MudText>
        <MudText Typo="Typo.body2">Free-diving with Great Whites in open water (no cage).</MudText>
        <MudText Typo="Typo.body2">9/10</MudText>
    </MudCardContent>
    @*  <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn more</MudButton>
    </MudCardActions> *@
</MudCard>

<MudCard>
    @* <MudCardMedia Image="images/door.jpg" Height="200" /> *@
    <MudCardContent>
        <MudText Typo="Typo.h5">Magma Walk</MudText>
        <MudText Typo="Typo.body2">High-altitude trekking across active lava crusts in the Danakil Depression.</MudText>
        <MudText Typo="Typo.body2">7/10</MudText>
    </MudCardContent>
    @*  <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn more</MudButton>
    </MudCardActions> *@
</MudCard>

<MudCard>
    @* <MudCardMedia Image="images/door.jpg" Height="200" /> *@
    <MudCardContent>
        <MudText Typo="Typo.h5">The Abyss</MudText>
        <MudText Typo="Typo.body2">Solo kayaking through a Grade VI rapid system in the Congo.</MudText>
        <MudText Typo="Typo.body2">8.5/10</MudText>
    </MudCardContent>
    @*  <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn more</MudButton>
    </MudCardActions> *@
</MudCard>

<MudCard>
    @* <MudCardMedia Image="images/door.jpg" Height="200" /> *@
    <MudCardContent>
        <MudText Typo="Typo.h5">Zone of Silence</MudText>
        <MudText Typo="Typo.body2">72-hour solo survival in the Sahara with only a knife and 1L of water.</MudText>
        <MudText Typo="Typo.body2">8/10</MudText>
    </MudCardContent>
    @*  <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn more</MudButton>
    </MudCardActions> *@
</MudCard>

<MudCard>
    @* <MudCardMedia Image="images/door.jpg" Height="200" /> *@
    <MudCardContent>
        <MudText Typo="Typo.h5">The HALO Jump</MudText>
        <MudText Typo="Typo.body2">30,000ft military-grade high-altitude jump over a remote glacier.</MudText>
        <MudText Typo="Typo.body2">6/10</MudText>
    </MudCardContent>
    @*  <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn more</MudButton>
    </MudCardActions> *@
</MudCard>

<MudCard>
    @* <MudCardMedia Image="images/door.jpg" Height="200" /> *@
    <MudCardContent>
        <MudText Typo="Typo.h5">Spider’s Silk</MudText>
        <MudText Typo="Typo.body2">Free-solo climbing (no ropes) on 200ft limestone cliffs in Thailand.</MudText>
        <MudText Typo="Typo.body2">10/10</MudText>
    </MudCardContent>
    @*  <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn more</MudButton>
    </MudCardActions> *@
</MudCard>

<MudCard>
    @* <MudCardMedia Image="images/door.jpg" Height="200" /> *@
    <MudCardContent>
        <MudText Typo="Typo.h5">The Cyclone</MudText>
        <MudText Typo="Typo.body2">Storm-chasing by motorcycle in the heart of Tornado Alley.</MudText>
        <MudText Typo="Typo.body2">7.5/10</MudText>
    </MudCardContent>
    @*  <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn more</MudButton>
    </MudCardActions> *@
</MudCard>

<MudCard>
    @* <MudCardMedia Image="images/door.jpg" Height="200" /> *@
    <MudCardContent>
        <MudText Typo="Typo.h5">Black Ice</MudText>
        <MudText Typo="Typo.body2">Deep-sea cave diving in unmapped subterranean Arctic tunnels.</MudText>
        <MudText Typo="Typo.body2">9.5/10</MudText>
    </MudCardContent>
    @*  <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn more</MudButton>
    </MudCardActions> *@
</MudCard>

<MudCard>
    @* <MudCardMedia Image="images/door.jpg" Height="200" /> *@
    <MudCardContent>
        <MudText Typo="Typo.h5">The DMZ Run</MudText>
        <MudText Typo="Typo.body2">Stealth-based "extraction" roleplay in active geopolitical high-risk zones.</MudText>
        <MudText Typo="Typo.body2">8/10</MudText>
    </MudCardContent>
    @*  <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn more</MudButton>
    </MudCardActions> *@
</MudCard>

<MudCard>
    @* <MudCardMedia Image="images/door.jpg" Height="200" /> *@
    <MudCardContent>
        <MudText Typo="Typo.h5">Orbital Re-entry</MudText>
        <MudText Typo="Typo.body2">Sub-orbital flight in an experimental craft with manual controls.</MudText>
        <MudText Typo="Typo.body2">??/10</MudText>
    </MudCardContent>
    @*  <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn more</MudButton>
    </MudCardActions> *@
</MudCard>